{% extends "base.html" %}

{% block content %}
<h1>About This Project</h1>
<p>
The House Price Analysis Dashboard provides an interactive overview of the housing dataset, summarizing key insights through dynamic visualizations. It displays important KPIs such as total records, average sale price, and total basement area to give a quick understanding of the dataset. Analytical charts illustrate how renovation history, house age, and structural features like bedrooms, bathrooms, and floors influence property prices. Interactive filters allow users to explore the data in real time, making the dashboard a powerful tool for understanding housing market trends.
</p>
{% endblock %}
