<!DOCTYPE html>
<html>
<head>
    <title>House Price Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <div class="logo">House Price Analysis</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/story">Story</a></li>
    </ul>
</nav>

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>
